# Настройки редактора
.vscode/

# Зависимости
node_modules/

# Тестовые отчёты
coverage/

# ENV - файлы
server/config/.env*
!server/config/.env.test
!server/config/.env.example

# Создаваемые папки в проекте
_logs/
client/build/
storage/

# Информационные текстовые файлы
*.txt
